{
  "openapi": "3.0.3",
  "info": {
    "title": "samkoma API",
    "version": "v1",
    "description": "Group-availability scheduling. No accounts: creating a poll returns an edit token used as a Bearer credential for host-only actions (PATCH, lock) and to read a private or hidden poll's results. A poll is one of two kinds: `dates` (specific calendar dates, slot keys `YYYY-MM-DDThh:mm`) or `weekdays` (recurring, slot keys `monThh:mm`)."
  },
  "servers": [
    {
      "url": "https://api.samkoma.org"
    }
  ],
  "tags": [
    {
      "name": "polls"
    },
    {
      "name": "metrics"
    }
  ],
  "components": {
    "securitySchemes": {
      "editToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "A poll's edit token (returned by POST /v1/polls), sent as `Authorization: Bearer <token>`."
      }
    }
  },
  "paths": {
    "/v1/polls": {
      "post": {
        "tags": [
          "polls"
        ],
        "summary": "Create a poll",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "dates",
                      "weekdays"
                    ],
                    "default": "dates"
                  },
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 60
                  },
                  "from": {
                    "type": "string",
                    "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                  },
                  "to": {
                    "type": "string",
                    "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                  },
                  "slot": {
                    "type": "integer"
                  },
                  "tz": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "public": {
                    "type": "boolean",
                    "default": false
                  },
                  "resultsHidden": {
                    "type": "boolean",
                    "default": false
                  },
                  "deadline": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "capacity": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0,
                    "maximum": 10000
                  }
                },
                "required": [
                  "title",
                  "days",
                  "from",
                  "to",
                  "slot",
                  "tz"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created — returns { id, url, editToken }.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "invalid_body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/polls/{id}": {
      "get": {
        "tags": [
          "polls"
        ],
        "summary": "Fetch a poll and its aggregated responses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The poll's short id."
          }
        ],
        "security": [
          {},
          {
            "editToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The poll. Responses are included only when visible to the caller (public and not hidden, or the host).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "polls"
        ],
        "summary": "Edit a poll (host only)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The poll's short id."
          }
        ],
        "security": [
          {
            "editToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 60
                  },
                  "from": {
                    "type": "string",
                    "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                  },
                  "to": {
                    "type": "string",
                    "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                  },
                  "slot": {
                    "type": "integer"
                  },
                  "public": {
                    "type": "boolean"
                  },
                  "resultsHidden": {
                    "type": "boolean"
                  },
                  "deadline": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "closed": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated poll.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "invalid_body / not_additive / from_after_to",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/polls/{id}/slots": {
      "post": {
        "tags": [
          "polls"
        ],
        "summary": "Submit or update your availability",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The poll's short id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "tz": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "slots": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^(\\d{4}-\\d{2}-\\d{2}|mon|tue|wed|thu|fri|sat|sun)T([01]\\d|2[0-3]):[0-5]\\d$"
                    },
                    "maxItems": 5000
                  },
                  "maybe": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^(\\d{4}-\\d{2}-\\d{2}|mon|tue|wed|thu|fri|sat|sun)T([01]\\d|2[0-3]):[0-5]\\d$"
                    },
                    "maxItems": 5000,
                    "default": []
                  },
                  "group": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 60
                  },
                  "secret": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "name",
                  "tz",
                  "slots"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved response. On a first, unprotected write the body includes a one-time `responseToken` that claims the name for later edits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "invalid_slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "name_protected",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "closed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "rate_limited / poll_full",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/polls/{id}/best": {
      "get": {
        "tags": [
          "polls"
        ],
        "summary": "Ranked best slots",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The poll's short id."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          }
        ],
        "security": [
          {},
          {
            "editToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ total, results: [{ slot, count, names }] }.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/polls/{id}/lock": {
      "post": {
        "tags": [
          "polls"
        ],
        "summary": "Lock in (or clear) the chosen slot (host only)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The poll's short id."
          }
        ],
        "security": [
          {
            "editToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slot": {
                    "type": "string",
                    "pattern": "^(\\d{4}-\\d{2}-\\d{2}|mon|tue|wed|thu|fri|sat|sun)T([01]\\d|2[0-3]):[0-5]\\d$",
                    "nullable": true
                  }
                },
                "required": [
                  "slot"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated poll.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "invalid_slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/polls/{id}/csv": {
      "get": {
        "tags": [
          "polls"
        ],
        "summary": "Data export (.csv) of every painted slot",
        "description": "A tidy CSV with one row per respondent+slot (`name,slot,status`), `status` being `available` or `maybe`. Slot keys are canonical (the poll's home tz). Gated like the aggregate: public on a public, non-hidden poll; otherwise host-only.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The poll's short id."
          }
        ],
        "security": [
          {},
          {
            "editToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "A CSV of the responses.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/polls/{id}/ics": {
      "get": {
        "tags": [
          "polls"
        ],
        "summary": "Calendar export (.ics) of the locked slot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The poll's short id."
          }
        ],
        "responses": {
          "200": {
            "description": "An iCalendar document for the locked slot.",
            "content": {
              "text/calendar": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "not_locked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/metrics": {
      "get": {
        "tags": [
          "metrics"
        ],
        "summary": "Usage counters (lifetime totals + recent daily series)",
        "description": "Aggregate-only counts of polls created and responses submitted. These outlive the polls themselves (which are deleted at expiry), so they record activity over time. No per-poll detail is exposed.",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 90
            },
            "description": "Length in days of the returned daily series. Lifetime totals are unaffected."
          }
        ],
        "responses": {
          "200": {
            "description": "{ totals: { pollsCreated, responsesSubmitted }, daily: [{ day, pollsCreated, responsesSubmitted }] }.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
